<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: header('User List Page')">
    <title>User List Page</title>
</head>
<body>
<header th:include="fragments.html :: navbar"></header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <h1 class="h1">User List Page</h1>
                <form id="user-list" action="#" th:action="@{/auth/block-users}" method="post"
                      th:object="${requestIds}">
                    <table class="table">
                        <thead class="table-header">
                        <tr>
                            <th>Select All <input type="checkbox" onclick="toggle(this)"></th>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>
                                <a th:href="@{/auth/block-user}" onclick="validateForm(event);" class="btn btn-danger">Block </a>
                                <!--                                <a th:href="@{/auth/unblock/{id}(id = ${user.id})}"> 🔓 </a>-->
                                <!--                                <a th:href="@{/auth/delete/{id}(id = ${user.id})}"> ❌</a>-->

                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user,iter : ${users}">
                            <td><label>
                                <input type="checkbox" name="userId" data-target="requests-all"
                                       th:value="${user.id}"/>
                            </label>
                            </td>
                            <td th:text="${iter.count}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <a th:href="@{/auth/block/{id}(id = ${user.id})}" class="btn btn-danger">Block </a>
                                <a th:href="@{/auth/unblock/{id}(id = ${user.id})}"> 🔓 </a>
                                <a th:href="@{/auth/delete/{id}(id = ${user.id})}"> ❌</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button type="submit" value="submit" onclick="validateForm(event)" class="btn btn-success">Submit
                    </button>

                </form>

                <script type="text/javascript">

                    $(document).ready(function () {
                        $('button').click(function (e) {
                            if (!(confirm("Are you sure you wish to process these requests"))) {
                                e.preventDefault();
                            } else {
                                $("#user-list").submit();
                            }
                        });
                    });


                    function toggle(source) {
                        let checkboxes = document.querySelectorAll('input[type="checkbox"]');
                        for (let i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i] != source)
                                checkboxes[i].checked = source.checked;
                        }
                    }


                    function validateForm(e) {
                        e.preventDefault();
                        let selectedOptions = document.forms[0];
                        let ids = [];
                        let token = getCsrfToken();
                        let name = getCsrfTokenName();
                        for (let i = 0; i < selectedOptions.length; i++) {
                            if (selectedOptions[i].checked) {
                                ids.push(selectedOptions[i].value);
                            }
                        }


                        fetch("http://localhost:8080/auth/block-users", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Cookie': new Headers[[name, token]]
                            },
                            body: JSON.stringify(ids)
                        });
                        console.log(ids);
                    }

                </script>
            </div>
        </div>
    </div>
</main>
<footer></footer>
<section th:include="fragments.html :: js"></section>
</body>
</html>